.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    font-size: 100px;
    color: #2D3436;
    font-family: 'Dancing Script', cursive;
}

body {
    background-color: #D5DBDB;
    font-family: 'Great Vibes', cursive;
}

nav {
    background-color: #00B894;
    font-family: 'Great Vibes', cursive;
    color: #FFFFFF;
}